div{
    position: relative;
    width: 70px;
    height: 40px;
    background: purple;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 7s;
   
}
div>p{
    margin-top: 10px;
    font-size: 15px;
    color: white;
    margin-bottom: 0px;
}

div>i{
    position: absolute;
    right:5px;
    margin-top: 0px;
}


div:hover{
    width: 150px;
    transition: 7s;
}
