main {
    height: 540px;
    width: 740px;
    border: 1px solid black;
    background: #a29bfe;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

section#first {
    height: 100px;
    width: 700px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
}

section#first > button {
    height: 80px;
    width: 80px;
    background-color: #ffbe76;
    position: absolute;
    top: 10px;
    font-size: 25px;
    color: white;
}

section#first > input {
    height: 80px;
    width: 580px;
    border: none;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 30px;
    text-align: right;
    padding-right: 25px;

}

section#second {
    height: 100px;
    width: 700px;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

section#second > button {
    height: 80px;
    width: 150px;
}

section#third {
    height: 100px;
    width: 700px;
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

section#third > button {
    height: 80px;
    width: 150px;
}

section#fourth {
    height: 100px;
    width: 700px;
    position: absolute;
    top: 320px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

section#fourth > button {
    height: 80px;
    width: 150px;
}

section#fifth {
    height: 100px;
    width: 700px;
    position: absolute;
    top: 420px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

section#fifth > button {
    height: 80px;
    width: 150px;
}

button:hover {
    cursor: pointer;
    border: 1px solid #192a56;
    background: #192a56;
    color: white;
}

section > button:nth-child(4) {
    background-color: #ffbe76;
}

button {
    border: none;
    background-color: white;
    font-weight: bold;
}
